<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
  <h1>Climate Coding</h1>
  <br><br><br>
  <form method="post" id="prompt-form">
	<table margin-left="auto;" margin-right="auto;">
		<tr><th>
		<textarea id="prompt" name="prompt" class="scrollabletextbox" rows="24" cols="72"></textarea>
		</th>
		<th></th>
		<th>
			<div class="results scrollabletextbox" id="res">
				<pre class="prettyprint results" style="width:600px;height:590px;">

			</div>
		</th>
		</tr>
		<tr>
			<td><button type="submit">submit</button></td>
			<td></td>
			<td></td>
		</tr>
	</table>
  </form>

	<!--Jquery Cdn -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>

  <script type="text/javascript">
	
  $(document).on('submit','#prompt-form',function(e)
			   {
    e.preventDefault();
    $.ajax({
	  type:'POST',
	  url:'/optim',
	  data:{
	    prompt:$("#prompt").val()
	  },
	  success:function(data)
	  {
		// document.getElementById("res").innerHTML = ("<>def main(arg):\\ print('Hello there')");
	    $(".results").replaceWith($('<pre class="prettyprint results" style="width:600px;height:590px;">' +  data + '</pre>'));
		PR.prettyPrint();
	  }})});

  </script>
  <br><br>

{% endblock %}
