<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
  <h1>Climate Coding</h1>
  <br><br>
  <form method="post" id="prompt-form">
	<input type="text" name="prompt" id="prompt">
	<button type="submit">submit</button>
  </form>

	<!--Jquery Cdn -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>

  <script type="text/javascript">
	
  $(document).on('submit','#prompt-form',function(e)
			   {
    e.preventDefault();
    $.ajax({
	  type:'POST',
	  url:'/optim',
	  data:{
	    prompt:$("#prompt").val()
	  },
	  success:function(data)
	  {
	    $(".results").replaceWith($('<p>' +  data + '<p>'));
		
	  }})});

  </script>

  <p class="results">  </p>
{% endblock %}
